* {
    margin: 0;
}

.total-body {
    padding: 15px;
}
body {
    margin: 0;
    background-image: url(imgs/backgroundImage.jpeg);
    background-size: cover;
    box-sizing: border-box;
}

/* typography */

h1 {
    font-size: 40px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}

.current-time h1 {
    font-size: 78px;
}

.bandwidth-saved {
    color:#0096c7;
}

.add-tracker h1 {
    color: #e85d04;
}

.time-saved h1, .current-time h1 {
    color: #fff;
}

.small-text-header {
    color: #fff;
}

.author-section span {
    color: #495057;
}

/* layout */


header .container {
    display: flex;
    padding: 15px;
}

.add-tracker, 
.bandwidth-saved, 
.time-saved, 
.current-time {
    font-weight: 900;
}

.bandwidth-saved {
    margin-left: 60px;
}

.time-saved {
    margin-left: 40px;
}

.current-time {
    margin-left: 650px;
}

.small-text-header {
    margin-top: 10px;
    font-size: 16px;
}

.span-small-text {
    font-size: 24px;
    margin-left: -5px;
}
.websites-visited {

}

.ads {
    
}

footer {
    
}

section {
    display: flex;
    justify-content: space-between;

    
}

.section-one {
    width: 300px;
    margin-right: 15px;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #ece4db;
    opacity: 0.7;
}

.websties-list li {
    list-style: none;
    margin: 0 auto;
    padding: 15px 0;
}

.section-one img {
    width: 100px;
    height: 100px;
    margin: 20px 0;
    margin-left: 40px;
}

.list-container {
    /* background-color: #fff; */
}
.most-visited {
    display: flex;
    list-style: none;
    padding: 15px 0;
    margin-top: 15px;
}

.list-container .most-visited {
    /* border: #000 2px solid; */
}
.most-visited li {
    margin-right: 15px;
    border-radius: 15px;
    padding: 10px 15px;
    margin-left: 5px;
    font-size: 25px;
    background-color: #ced4da;
}

.most-visited li:hover {
    background-color: #dee2e6;
}

li a  {
    text-decoration: none;
    color: #000;
}


footer {
    display: flex;
    height: 260px;
    justify-content: space-between;
    /* border: #000 2px solid; */
    padding: 15px;
    align-items: flex-end;
}


button {
    border-style: none;
    padding: 5px 15px;
    font-weight: 700;
    background-color: transparent;
    color: #ced4da;
}

.button-customize {
    border-right: #ced4da 2px solid;
}

button:hover,
button:focus {
    color: #fff;
    cursor: pointer;
}

.author-section {
    color: #ced4da;
}

.author-section:hover {
    color: #fff;
    cursor: pointer;
}